body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.scroller {
  width: 400px;
  height: 120px;
  color: #fff;
  border: 0px;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-image: url(bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
